botbuilder-core
aiohttp
flask
langchain
langchain-chroma
langchain-openai
langchain-google-vertexai
langchain-google-genai
langchain-community
langchain-text-splitters
slack-bolt
python-dotenv
chromadb
tiktoken
nest_asyncio
deepagents
langgraph
gunicorn
graphiti-core

